html, body {
  width: 720px;
  background-color: #010101;
  color: #f0f0f0;
  padding: 10px;
}

#website-security-status{
  text-align: center;
}

details{
  margin-bottom: 30px;
  padding: 10px 20px;
}

.text-section-header {
  color: #f0f0f0;
  font-weight: bold;
  font-size: 24px;
}

.header-title{
  margin-top: 10px;
  color: #f0f0f0;
  font-weight: bold;
  font-size: 16px;
}

.panel {
  padding: 20px 10px;
  background-color: #101010;
}

#number-cookies {
  font-weight: bold;
  color: #f0f0f0;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 10px;
  color: #f0f0f0;
  font-weight: normal;
}

.cookies-security, 
.local-storage-security, 
.session-storage-security, 
.fingerprint-security, 
.third-party-security {
  margin: 30px 0;
}

progress {
  width: 100%;
  height: 20px;
  border-radius: 4px;
  border-style: none;
}